main {
  padding: 3rem 0;
}

.spinner-border {
  position: fixed;
  top: 50%;
  left: 50%;
}

li {
  list-style: none;
}

.btn {
  display: block !important;
  max-width: 10rem;
}

.badge:hover {
  border: 2px solid #0d6efd;
}

.badge {
  cursor: pointer;
  padding-bottom: 1rem;
  margin-right: .5rem;
}

.text-bg-primary {
  border: 2px solid #0d6efd;
}

.text-bg-light {
  border: 2px solid white;
}

/* form {
  width: 50%;
} */
footer img {
  margin: 0 0.5rem;
}